<div id="representantes" class="cf db w-100">
  <h2 class="f5 b black">Nossos representantes</h2>
  <% states.forEach(function(state){%>
    <div class="w-100 bt b--near-white pv3 db">
      <h3 class='f5 red mv1'> <%= state %> </h3>
        <% representantes.forEach(function(item){ %>
            <% item['fields']['Estado'].forEach(function(estado){ %>
                <% if (estado == state){ %>
                    <h4 class='f6 mv1'> <%= item['fields']['Empresa'] %> </h4>
                    <div class="f6 lh-copy">
                        <% if(item['fields']['Observação']){ %>
                            <div class="mb2"> <%= item['fields']['Observação'] %> </div>
                        <% } %>
                        <div> <%= item['fields']['Nome'] %> </div>
                        <div> <%= item['fields']['Email'] %> </div>

                        <% if(item['fields']['Telefone 1']){ %>
                            <div> <%= item['fields']['Telefone 1'] %> </div>
                        <% } %>
                        <% if(item['fields']['Telefone 2']){ %>
                            <div> <%= item['fields']['Telefone 2'] %> </div>
                        <% } %>
                        <% if(item['fields']['Telefone 3']){ %>
                            <div> <%= item['fields']['Telefone 3'] %> </div>
                        <% } %>
                        <% if(item['fields']['Telefone 4']){ %>
                            <div> <%= item['fields']['Telefone 4'] %> </div>
                        <% } %>
                        <% if(item['fields']['Telefone 5']){ %>
                            <div> <%= item['fields']['Telefone 5'] %> </div>
                        <% } %>
                    </div>
                <% } %>
               <%  }) %>
          <% }) %>
        </div>
      <% }) %>
  </div>
