<% var menuItems = {
  categorias: {
    "path": "Categorias",
    "subitens": [
      "Teto",
      "Piso",
      "Mesa",
      "Parede"
    ]
  },
  linhas: {
    "path": "Linhas",
    "subitens": [
      "Design Lab",
      "Basic",
      "Vintage",
      "Cristal"
    ]
  },
  sobre: {
    "path": "Sobre",
    "subitens": [
      "Sobre",
      "Contato",
      "News"
    ]
  }
}

 %>

<!--DESKTOP MENU-->
<nav id="desktopMenuWrapper" class="absolute top-0 z-max db-l dn w-100 border-box pv3 ph5 bg-white">
    <!--LOGO-->
    <a href="/" id="logo" class="w4 dib v-top mid-gray link dim">
    <img src="/images/logotipo_golden.svg" class="dib" alt="golden art logotype">
    </a>
    
    <!--//MENU ITEMS-->
    <div id="desktopMenuItems" class="dib fr v-mid center tl pl5">
        <% for (i in menuItems) { %>
          <div class="w4 dib v-top pt2">
            <span class="dark-gray f5 dib pv1 mb3">
              <%= menuItems[i]['path'] %>
            </span>
            <% for (j in menuItems[i]['subitens']) { %>
              <a class="link gray f5 mr3 db hover-red pv2 pointer" href=<%= "/" + menuItems[i]['path'] + "/" + menuItems[i]['subitens'][j] %>><%= menuItems[i]['subitens'][j] %> </a>
            <% } %>
          </div>
        <% } %>
    </div>
    
</nav>


<!--MOBILE MENU-->
<nav id="mobileMenuWrapper" class="absolute top-0 z-max dn-l db db dt w-100 border-box pv3 ph4 bg-white">
    
    <!--LOGO-->
    <a href="/" id="logo" class="fl w4 dib-ns db v-top mid-gray link dim">
    <img src="/images/logotipo_golden.svg" class="" alt="golden art logotype">
    </a>
    
    <div id="mobileMenuButton" class='fr w-10 gray pt2 f5'>MENU</div>
    
    <!--//MENU ITEMS-->
    <div id="mobileMenuItems" class="db w-100 fl v-mid center tl pt">
        <div id="spacer" class="h3"></div>
        <% for (i in menuItems) { %>
          <div class="db v-top pb4 pt1 bt bt-gray">
            <span class="link dark-gray f4 b db pv1 mb2">
              <%= menuItems[i]['path'] %>
            </span>
            <% for (j in menuItems[i]['subitens']) { %>
              <a class="link gray f5 mr3 db hover-red pv2 pointer" href=<%= "/" + menuItems[i]['path'] + "/" + menuItems[i]['subitens'][j] %>><%= menuItems[i]['subitens'][j] %> </a>
            <% } %>
          </div>
        <% } %>
    </div>
 
</nav>