<%- include('./includes/header', {title: categoria }); %>
<%- include('./includes/menu-dark') %>
<% var linhas = [
    "basic",
    "design",
    "cristal",
    "vintage"
];%>


<div class="w-100 pa5-l pa4 mt5">
<h1>Categoria <%= categoria %> </h1>

<% linhas.forEach(function(linha){ %>

    <main class="cf w-100 mt5">
        <h1><%= linha %></h1>
        <% thisCategoryProducts.forEach(function(product) { %>
            <% if (product['fields']['Linha'] == linha && product['fields']['Fotos'] != undefined) { %>

            <div class="fl w-50 w-third-m w-25-ns">
                <a class="" href= <%= "/produtos/" + product['fields']['Código'] %> >
                    <div class="aspect-ratio aspect-ratio--1x1 dim">
                        <img style= <%= "background-image:url(" +  product['fields']['Fotos'][0]['thumbnails']['large']['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
                    </div>
                </a>
            </div>

            <% }; %>
        <% }); %>
    </main>

<% }); %>

</div>
