<%- include('./includes/header', {title: "Golden-Art", share_image: null,
description: null}); %> <%- include('./includes/menu', {theme: 'positive'}) %>
<div id="page-wrapper" class="ph5-ns ph4 cf">
  <div class="db w-100 fl">
    <h1>Cores de pintura</h1>
    <p class="mb5 measure-narrow lh-copy black-50">
      Qualquer peça pode ser pintada com as cores abaixo. Images apenas para
      referência.
    </p>
    <% colors.forEach(function(color){ %> <% if ((color['fields']['Grupo'] ==
    'Pintura') && color['fields']['Render']) {%>
    <a
      target="_blank"
      href="<%= color['fields']['Render'][0]['url'] %>"
      class="link black w-25 fl dib cf tc pa2"
    >
      <img src="<%= color['fields']['Render'][0]['url'] %>" />
      <div class="mt2 mb5">
        <div class="fl dib  f6 b pr3"><%= color['fields']['Nome'] %></div>
        <div class="fl dib  f6 ">
          <%= color['fields']['Código'] %>
        </div>
      </div>
    </a>
    <% } %> <% }) %>
  </div>
</div>

<%- include('./includes/footer') %>
