<%- include('./includes/header', {title: "Golden-Art", share_image: null, description: null}); %>
<%- include('./includes/menu', {theme: 'positive'}) %>
<div id="page-wrapper" class="ph5-ns ph4 cf">
<div class="db w-100 fl">
<h1>Cores de pintura</h1>
<% colors.forEach(function(color){ %>
    <% if (color['fields']['Grupo'] == 'Pintura') {%>

    <div class="colorWrapper w-10-l w-25 fl dib cf tc pa2 mt3">
         <div class="aspect-ratio aspect-ratio--1x1 dim mb2">
            <div class="db br-100 bg-center cover aspect-ratio--object ba b--near-white" style= <%= "background-color:" + color['fields']['Webcode'] %> >
            </div>
        </div>
        <div class="fl db h1 tc w-100 f6 silver pt2"><%= color['fields']['Código'] %> </div>
        <div class="fl db h3 tc w-100 pt3 f6"><%= color['fields']['Nome'] %> </div>
    </div>

    <% } %>
<% }) %>
</div>

<div class="db w-100 fl">
<h1>Acabamentos especiais</h1>
<% colors.forEach(function(color){ %>
    <% if (color['fields']['Grupo'] == 'Acabamento especial') {%>

    <div class="colorWrapper w-10-l w-25 fl dib cf tc pa2 mt3">
         <div class="aspect-ratio aspect-ratio--1x1 dim mb2">
            <div class="db br-100 bg-center cover aspect-ratio--object ba b--near-white" style= <%= "background-color:" + color['fields']['Webcode'] %> >
        </div>
        </div>
        <div class="fl db h1 tc w-100 f6 silver pt2"><%= color['fields']['Código'] %> </div>
        <div class="fl db h3 tc w-100 pt3 f6"><%= color['fields']['Nome'] %> </div>

    </div>

    <% } %>
<% }) %>
</div>
<div class="db w-100 fl">
<h1>Cores de cúpulas de tecido</h1>
<% colors.forEach(function(color){ %>
    <% if (color['fields']['Grupo'] == 'Cúpula tecido') {%>

    <div class="colorWrapper w-10-l w-25 fl dib cf tc pa2 mt3">
         <div class="aspect-ratio aspect-ratio--1x1 dim mb2">
            <div class="db br-100 bg-center cover aspect-ratio--object ba b--near-white" style= <%= "background-color:" + color['fields']['Webcode'] %> >
        </div>
        </div>
        <div class="fl db h1 tc w-100 f6 silver pt2"><%= color['fields']['Código'] %> </div>
        <div class="fl db h3 tc w-100 pt3 f6"><%= color['fields']['Nome'] %> </div>

    </div>

    <% } %>
<% }) %>
</div>

<div class="db w-100 fl">
<h1>Cores de cúpulas plásticas</h1>
<% colors.forEach(function(color){ %>
    <% if (color['fields']['Grupo'] == 'Cúpula plástica') {%>

    <div class="colorWrapper w-10-l w-25 fl dib cf tc pa2 mt3">
         <div class="aspect-ratio aspect-ratio--1x1 dim mb2">
            <div class="db br-100 bg-center cover aspect-ratio--object ba b--near-white" style= <%= "background-color:" + color['fields']['Webcode'] %> >
        </div>
        </div>
        <div class="fl db h1 tc w-100 f6 silver pt2"><%= color['fields']['Código'] %> </div>
        <div class="fl db h3 tc w-100 pt3 f6"><%= color['fields']['Nome'] %> </div>

    </div>

    <% } %>
<% }) %>
</div>

</div>

<%- include('./includes/footer') %>
