<%- include('./includes/header', {title: "Golden-Art – Contato", share_image: null, description: null}); %>
<script type="text/javascript" src="/js/contact.js"></script>
<%- include('./includes/menu', {theme: 'positive'}) %>

<div class="ph4 mt0-ns mt5 pt6">
  <h1 class='w-100 pb2 mt0 tl-ns tc f1-l f2'>Fale conosco</h1>
  <p class="tl-ns tc measure-wide pb5 lh-copy">Para que possamos te atender da melhor forma possível, escolha abaixo a
    opção que mais se adequa à sua área de ocupação.</p>

  <div class="contactFilters w-100 center flex flex-column relative bg-white">
    <a class="bb hover-red b--light-gray f3 contactFilter link gray pv4 b" style="min-width: 6rem" id="lojista"
      href="#lojistaContent">Sou lojista</a>
    <a class="bb hover-red b--light-gray f3 contactFilter link gray pv4 b" style="min-width: 6rem" id="arquiteto"
      href="#arquitetoContent">Sou arquiteto</a>
    <a class="bb hover-red b--light-gray f3 contactFilter link gray pv4 b" style="min-width: 6rem" id="pessoaFisica"
      href="#pessoaFisicaContent">Sou pessoa física</a>
    <a class="bb hover-red b--light-gray f3 contactFilter link gray pv4 b" style="min-width: 6rem" id="empresa"
      href="#empresaContent">Projetos corporativos</a>
  </div>

  <div id='pageContent' class="flex flex-column cf mt5 mb5">

    <%- include('./includes/contato/lojistas') %>
    <%- include('./includes/contato/arquitetos') %>
    <%- include('./includes/contato/empresas') %>
    <%- include('./includes/contato/pf') %>

  </div>
</div>

<%- include('./includes/footer') %>