<%- include('./includes/header', {title: "Golden-Art – Contato", share_image: null, description: null}); %>
<script type="text/javascript" src="/js/contact.js"></script>
<%- include('./includes/menu', {theme: 'positive'}) %>

  <div class="ph5-ns ph4 mt0-ns mt5">
    <h1 class='w-100 pb2 mt0 tl-ns tc f1-l f2'>Fale conosco</h1>
    <p class="tl-ns tc measure-wide pb5 lh-copy">Para que possamos te atender da melhor forma possível, escolha abaixo a opção que mais se adequa à sua área de ocupação.</p>

  	<div class="contactFilters w-100 center flex justify-around relative bg-white">
  			<a class="f6-ns bb b--light-gray f7 contactFilter ttu link gray tc w-25 pa3-ns pa2" style="min-width: 6rem" id="arquiteto"  href="/sobre/contato/arquiteto/">Arquitetos</a>
  			<a class="f6-ns bb b--light-gray f7 contactFilter ttu link gray tc w-25 pa3-ns pa2" style="min-width: 6rem" id="empresa"  href="/sobre/contato/empresa/">Empresas</a>
        <a class="f6-ns bb b--light-gray f7 contactFilter ttu link gray tc w-25 pa3-ns pa2" style="min-width: 6rem" id="pessoaFisica"  href="/sobre/contato/pessoaFisica/">Pessoa Física</a>
  			<a class="f6-ns bb b--light-gray f7 contactFilter ttu link gray tc w-25 pa3-ns pa2" style="min-width: 6rem" id="lojista"  href="/sobre/contato/lojista/">Lojistas</a>
  	</div>

  <div id='pageContent' class="cf mt5 mb5">

    <%- include('./includes/contato/arquitetos') %>
    <%- include('./includes/contato/lojistas') %>
    <%- include('./includes/contato/empresas') %>
    <%- include('./includes/contato/pf') %>

  </div>
  </div>

<%- include('./includes/footer') %>
