<%- include('header', {title: "Golden-Art"}); %>

<% var linhas = ["basic", "design", "vintage"] %>

<% linhas.forEach(function(linha){ %>
    <h3><%= linha %></h3>
    <% data['records'].forEach(function(product) { %>
    <% if (product['fields']['Linha'] == linha) { %>
        
    
        <a class="dib w-100 w-50-m w-20-ns bg-black" href= <%= "/linhas/" + linha + "/" + product['fields']['Código'] %> >
                <%= product['fields']['Código'] %>   
        </a>
    
    <% };}) %>
    
    <a class="db f6 link dim br1 ph3 pv2 mb2 white bg-black" href= <%="/linhas/" + linha %>> Conheça a linha completa </a>
    
<% }) %>