<%- include('./includes/header', {title: linha }); %>

<% var categorias = [
    "mesa",
    "piso",
    "teto",
    "parede"
];%>


<div class="ph5-ns ph4">
<h1>Linha <%= linha %> </h1>

<% categorias.forEach(function(categoria){ %>
        
    <main class="cf w-100 mt5">
        <h1><%= categoria %></h1>
        <% data.forEach(function(product) { %>
            <% if (product['fields']['Categoria'] == categoria && product['fields']['Fotos'] != undefined) { %>
    
            <div class="fl w-50 w-third-m w-25-ns">
                <a class="" href= <%= "produtos/" + product['fields']['Código'] %> >        
                    <div class="aspect-ratio aspect-ratio--1x1">
                        <img style= <%= "background-image:url(" +  product['fields']['Fotos'][0]['thumbnails']['large']['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
                    </div>
                </a>
            </div>
            
            <% }; %>
        <% }); %>
    </main>
    
<% }); %>    

</div>