<%- include('header', {title: "GA - " + produto }); %>

<h1>Página de produto</h1>

<% if (linha){ %>
<%=linha %>
<% } %>

<% if (categoria){ %>
<%= categoria %>
<% } %>

<%= data["Código"] %>
<%= data["Categoria"] %>
<%= data["Linha"] %>