<%- include('./includes/header', {title: "GA - " + data["Código"] }); %>

<div id="page-wrapper" class="ph5-ns ph4 pt5 mt5">
    
    <div id="product-image" class="fl w-50-ns w-100 mb4">
        
        <div class="aspect-ratio aspect-ratio--1x1">
            <img style= <%= "background-image:url(" +  data['Fotos'][0]['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
        </div>
        
         <% if (data["Desenho Técnico"]) { %>
            <div class="w-100 fl db mt3">
                <div class="aspect-ratio aspect-ratio--1x1">
                    <img style= <%= "background-image:url(" +  data['Desenho Técnico'][0]['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
                </div>
            </div>
        <% } %>
        
    </div>
    
    <div id="product-content" class="fl w-50-ns w-100 mb4 pl4-ns center">
        
        <div id="product-content-header" class="w-100 db cf">
            <h1 class="fl mt0"> <%= data["Tipo"] + " " + data["Código"] %> </h1>
            <% if (data["Ficha Técnica"]) {  %>
                <a class="pa2 fr dib-ns db f6 ba ba-red red link bg-animate hover-bg-red hover-white pointer mb3" target='blank' href= <%= data["Ficha Técnica"][0]['url'] %> > ⤓ <span class="dib-ns dn"> Baixar ficha técnica </span> </a>
            <% } %> 
        </div>
        
        <div id="product-content-table" class="w-100 db">
            
            <% if (data["Descrição"]) { %>
                <p class="pt1 mt1 db fl"><%= data["Descrição"] %> </p>
            <% } %>
            
            <table class="fl w-100 mt5 v-top" cellspacing="0">
                
                <colgroup>
                   <col class="w-30">
                   <col class="w-70">
                </colgroup>
                
                <tbody class="lh-copy w-100">
                    
                    <% if (data["Medidas"]) { %>
                    <tr>
                        <td class="v-top w-10 b pt1 pb3 pr3 bt b--black-20"> Medidas </td> 
                        <td class="v-top w-10  pt1 pb3 pr3 bt b--black-20"> <%= data["Medidas"] %> </td>
                    </tr>
                    <% } %>
                    
                    <% if (data["Material"]) { %>
                    <tr>
                        <td class="v-top w-10 b pt1 pb3 pr3 bt b--black-20"> Materiais </td> 
                        <td class="v-top w-10  pt1 pb3 pr3 bt b--black-20"> 
                        <% data["Material"].forEach(function(item, index){ %>
                                <% if(index == data["Material"].length - 1) { %>
                                <%= item %>
                                <% } else { %>
                                <%= item + "," %>
                                <% } %>
                        <% }); %>
                        </td>
                    </tr>
                    <% } %>

                    <tr>
                        <td class="v-top w-10 b pt1 pb3 pr3 bt b--black-20">Cores disponíveis</td>
                        <td class="v-top w-10  pt1 tb3 pr3 bt b--black-20">•••••••••••••••</td>
                    </tr>
                </tbody>
            </table>

            
        </div>
    </div>
</div>    
        

        