<%- include('./includes/header', {title: (data["Title SEO"] || "GA - " + data["Código"]), share_image: (data['Fotos'] && data['Fotos'][0]['url'] || '/images/sobre-torno.jpg' ), description: (data["Description SEO"] || data["Descrição"] || "Produto Golden Art")  }); %>
<%- include('./includes/menu', {theme: 'positive'}) %>
<script type="text/javascript" src="/js/siemaProduto.js"></script>

<div id="page-wrapper" class="ph4 cf pt6">

    <div id="product-image" class="fl w-50-l w-100 mb4">
        <%- include ./includes/produto/slider %>
        <div class="db-l dn">
            <% if(data['Variações']) {%>
            <%- include ./includes/produto/variations %>
            <% } %>
        </div>
    </div>

    <div id="product-content" class="fl w-50-l w-100 mb4 pl5-l center">
        <%- include ./includes/produto/title %>
        <div id="product-content-table" class="w-100 db cf">

            <% if (data["Descrição"]) { %>
            <p class="pt1 mv4 db fl lh-copy measure gray"><%= data["Descrição"] %> </p>
            <% } %>

            <table class="fl w-100 mt4 v-top" cellspacing="0">
                <colgroup>
                    <col class="w-30">
                    <col class="w-70">
                </colgroup>

                <tbody class="w-100">

                    <% if(data['Código']) {%>
                    <%- include ./includes/produto/codigo %>
                    <% } %>
                    <% if(data['Link Arquivo 3D']) {%>
                    <%- include ./includes/produto/3D %>
                    <% } %>
                    <% if(data['Soquete']) {%>
                    <%- include ./includes/produto/soquete %>
                    <% } %>
                    <% if(data['Medidas']) {%>
                    <%- include ./includes/produto/medidas %>
                    <% } %>
                    <% if(data['Material']) {%>
                    <%- include ./includes/produto/materials %>
                    <% } %>
                    <%- include ./includes/produto/specialColors %>
                    <%- include ./includes/produto/colors %>
<!-- 
                    <tr>
                        <td></td>
                        <td class="v-top w-10 pt2 pb3 pr3">
                            <a class="link  f6 pa2 ba b--red red hover-white hover-bg-red nowrap" href="/cores">Catálogo
                                de
                                acabamentos</a>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <% if(data['Cúpulas']) {%>
            <%- include ./includes/produto/cupulas %>
        <% } %>
        <% if(data['Desenho Técnico']) {%>
        <%- include ./includes/produto/technical %>
        <% } %>
        <% if(data['Vidros']) {%>
        <%- include ./includes/produto/vidros %>
        <% } %>
        <div class="dn-l db">
            <% if(data['Variações']) {%>
            <%- include ./includes/produto/variations %>
            <% } %>
        </div>
    </div>
</div>

<%- include('./includes/footer') %>