<%- include('./includes/header', {title: "GA - " + produto }); %>

<div class="ph5 pt5">
    
    <div class="w-100">
    
    </div>
    
    <div class="fl w-50-ns w-100">
        <div class="aspect-ratio aspect-ratio--1x1">
            <img style= <%= "background-image:url(" +  data['Fotos'][0]['url'] + ")"%> class="db bg-center cover aspect-ratio--object">
        </div>
    </div>
    
    <div class="fl w-50-ns w-100 pl5">
        
        <h1> <%= data["Tipo"] + " " + data["Código"] %> </h1>
        <h3><%= "linha " + data["Linha"] %> </h3>
        
        <% if (data["Descrição"]) { %>
        <p class="bt pt1 mt1 b--light-gray"><%= data["Descrição"] %> </p>
        <% } %>
        
        <% if (data["Medidas"]) { %>
            <p class="bt pt1 mt1 b--light-gray"> <%= data["Medidas"] %> </p>
        <% } %> 
        
        <% if (data["Ficha Técnica"]) { %>
            <a class="pa3 mt3 f6 bg-black white link dim pointer" target='blank' href= <%= data["Ficha Técnica"][0]['url'] %> > ⤓ Baixar ficha técnica </a>
        <% } %> 
        
    </div>

</div>