<%- include('./includes/header', {title: "GA - " + data["Código"] }); %>
<%- include('./includes/menu-dark') %>
<script type="text/javascript" src="/js/siemaProduto.js"></script>

<div id="page-wrapper" class="ph5-ns ph4 cf pt4">

    <div id="product-image" class="fl w-50-l w-100 mb4">
        <%- include ./includes/produto/slider %>
        <%- include ./includes/produto/technical %>
    </div>

    <div id="product-content" class="fl w-50-l w-100 mb4 pl5-l center">
        <%- include ./includes/produto/title %>
        <div id="product-content-table" class="w-100 db cf">

            <% if (data["Descrição"]) { %>
                <p class="pt1 mt1 db fl"><%= data["Descrição"] %> </p>
            <% } %>

            <table class="fl w-100 mt5 v-top" cellspacing="0">
                <colgroup>
                   <col class="w-30">
                   <col class="w-70">
                </colgroup>

                <tbody class="w-100">
                  <% if(data['Código']) {%>
                      <%- include ./includes/produto/codigo %>
                  <% } %>
                  <% if(data['Soquete']) {%>
                      <%- include ./includes/produto/soquete %>
                  <% } %>
                    <% if(data['Medidas']) {%>
                        <%- include ./includes/produto/medidas %>
                    <% } %>
                    <% if(data['Materiais']) {%>
                        <%- include ./includes/produto/materials %>
                    <% } %>
                    <% if(data['Cores Pintura']) {%>
                        <%- include ./includes/produto/colors %>
                    <% } %>
                    <% if(data['Variações']) {%>
                        <%- include ./includes/produto/variations %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% if(data['Cúpulas']) {%>
            <%- include ./includes/produto/cupulas %>
        <% } %>
        <% if(data['Vidros']) {%>
            <%- include ./includes/produto/vidros %>
        <% } %>
    </div>
</div>

<%- include('./includes/footer') %>
